body {
    font-family: Arial, sans-serif;
    padding: 40px;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.excel-button {
    background: #004B87;
    margin-right: 10px;
}

.pdf-button {
    background: #D9534F;
}